.schedule-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 60%; /* Задаем максимальную ширину таблицы */
    margin: 0 auto; /* Центрируем таблицу на странице */
}

.schedule-table th, .schedule-table td {
    border: 1px solid black;
    padding: 8px;

}


.even-row {
    background-color: #f2f2f2;
}

.table-time {
    border-collapse: collapse;
    width: 100%;
    max-width: 20%; /* Задаем максимальную ширину таблицы */
    margin: 0 auto; /* Центрируем таблицу на странице */
}
.schedule-table input[type="text"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем обводку при фокусе */
    width: 70%;
    text-align: center;
}