/* Menu.css */

.nav {
    background-color: #5cd9fd;
    padding: 10px;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menuItem {
    margin: 0 10px;
    cursor: pointer; /* Добавляем указатель курсора для пунктов меню */
}

.link {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.linkHover {
    color: white;
}

.schedule {
    margin-top: 20px;
    text-align: center;
}