/* Header.css */
.header {
        background-color: #282c34;
        padding: 20px;
        color: white;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
}


.title {
        margin: 0;

}
.time {
        margin-right: 20px;
}
