/* MenuTable.css */

.navtable {
    background-color: #a8dbef;
    padding: 10px;
    text-align: center;
}

.menutable {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

